
.rightwrapperdiv{
  width: 60%;
  height: 100%; 
}

.allitem{
  width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  align-items: center;  
  gap: 10px; 
}

@media(max-width:500px){

  .allitem{
    width: 100%;
  }




}


